<div class="container animated fast">
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <h3 class="acerca-de-mi-titulo txt-neon">DESCRIPCIÓN PERSONAL</h3>
      <p class="acerca-de-mi-txt animated fadeIn">
        Estudiante de licenciatura en ciencias informáticas énfasis en análisis
        de sistemas(7 semestre) y énfasis en programación de computadoras(6to
        semestre), programador web con conocimientos del front-end y el
        back-end, en busca de aprender más, mi principal habilidad es ser
        autodidacta, la mayoría de las tecnologías que manejo lo aprendí de
        forma autodidacta, inicie en el mundo web en el 2017 con html5, css3,
        javascript y desde entonces he aprendido muchas tecnologías algunas que
        deje de usar como jquery, php y otras en las cuales he profundizado como
        javascript. Mi meta es ser un Full Stack Javascript, actualmente desde
        abril del 2020 me enfoco en el MEAN Stack utilizando MongoDB, Express,
        Angular y NodeJs.
      </p>
    </div>
  </div>
  <div class="row justify-content-center animated fadeIn">
    <div class="col-12-auto text-center">
      <h3 class="acerca-de-mi-titulo txt-neon">SKILLS</h3>
      <div
        *ngIf="skills.length == 0"
        class="row m-3 text-light animated fadeIn"
      >
        <i class="fas fa-spinner fa-pulse fa-5x"></i>
      </div>
    </div>
    <div
      *ngFor="let skill of skills"
      class="col-auto text-center animated fadeIn"
    >
      <div class="acerca-de-mi-skill">
        <img
          class="acerca-de-mi-svg"
          [src]="'./assets/img/iconos/' + skill.img"
          alt="{{ skill.titulo }}"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="{{ skill.titulo }}"
        />
        <p class="acerca-de-mi-txt">{{ skill.titulo }}</p>
      </div>
    </div>
  </div>
  <app-ver-curriculum></app-ver-curriculum>
</div>
