<div class="row formulario-fondo-claro">
    <form class="row mb-3">
      <div class="row justify-content-start align-items-end ">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <img src="./assets/img/iconos/angular.svg"
            class="img-thumbnail thumbnail200 float-start"
          />
        </div>
        <div class="col-12 col-md-8">
          <label for="imgProyecto" class="form-label txt-neon">
            Seleccione una imagen
          </label>
          <input
            class="form-control"
            type="file"
            id="imgProyecto"
            accept="image/x-png,image/jpeg"
          />
        </div>
      </div>
    
      <div class="row">
        <div class="col-12 col-md-4">
            <label for="tituloInput" class="form-label txt-neon">Titulo</label>
            <input
              type="text"
              class="form-control"
              id="tituloInput"
              placeholder="Titulo del Proyecto"
            />
          </div>

        <div class="col-12 col-md-4">
          <label for="descInput" class="form-label txt-neon">Descripcion</label>
          <input
            type="text"
            class="form-control"
            id="descInput"
            placeholder="Descripcion del proyecto"/>
        </div>

        <div class="col-12 col-md-4">
            <label for="urlInput" class="form-label txt-neon">URL</label>
            <input
              type="text"
              class="form-control"
              id="urlInput"
              placeholder="URL"/>
          </div>

      </div>
    </form>
