<div class="row formulario-fondo-claro">
    <form [formGroup]="proyectoForm" 
      class="row mb-3">
      <div class="row justify-content-start align-items-end ">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <img [src]="imgURL"
            class="acerca-de-mi-svg"
            (error)=" imagenPorDefecto()"
          />
        </div>
        <div class="col-12 col-md-8">
          <label for="imgProyecto" class="form-label txt-neon">
            Seleccione una imagen
          </label>
          <input
            class="form-control"
            type="file"
            id="imgProyecto"
          />
        </div>
      </div>
    
      <div class="row">
        <div class="col-12 col-md-4">
            <label for="tituloInput" class="form-label txt-neon">Titulo</label>
            <input formControlName="titulo"
              type="text"
              class="form-control"
              id="tituloInput"
              placeholder="Titulo del Proyecto"
            />
          </div>

        <div class="col-12 col-md-4">
          <label for="descInput" class="form-label txt-neon">Descripcion</label>
          <input formControlName="desc"
            type="text"
            class="form-control"
            id="descInput"
            placeholder="Descripcion del proyecto"/>
        </div>

        <div class="col-12 col-md-4">
          <label for="urlInput" class="form-label txt-neon">URL</label>
          <input formControlName="url"
            type="text"
            class="form-control"
            id="urlInput"
            placeholder="URL"/>
        </div>

        <div class="col-12 col-md-4">
          <label for="gitInput" class="form-label txt-neon">GitHub</label>
          <input formControlName="github"
            type="text"
            class="form-control"
            id="gitInput"
            placeholder="URL GitHub"/>
        </div>
      </div>
    </form>
