<div class="row">
  <div class="col m-1">
    <ul class="left-navbar-ul">
      <li class="left-navbar-li">
        <a class="left-navbar-link txt-neon navbar-logo" href="#">{{ logo }}</a>
      </li>
      <li class="left-navbar-li">
        <a class="left-navbar-link" href="">Mensajes</a>
      </li>
      <li class="left-navbar-li">
        <a class="left-navbar-link" href="">Usuario</a>
      </li>
      <li class="left-navbar-li">
        <a class="left-navbar-link" href="">Proyectos</a>
      </li>
      <li class="left-navbar-li">
        <a class="left-navbar-link"
        routerLink="/admin/skill" 
        routerLinkActive="active">Skills</a>
      </li>
    </ul>
  </div>
</div>
