<div class="row justify-content-center mb-5">
  <div class="col-12-auto text-center">
    <h3 class="acerca-de-mi-titulo txt-neon">Curriculum Vitae</h3>
    <!-- Button trigger modal -->
    <a
      type="button"
      class="btn-box btn-neon"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      <span id="span1"></span>
      <span id="span2"></span>
      <span id="span3"></span>
      <span id="span4"></span>
      {{ "{ " + "click para ver" + " }" }}
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- Modal -->
    <div
      class="modal fade fondo-oscuro"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content fondo-oscuro">
          <div class="modal-header text-light">
            <h5 class="modal-title text-center" id="staticBackdropLabel">
              Acceder a Curriculum Vitae
            </h5>
            <button
              id="btnCerrar"
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row justify-content-center">
                <div
                  class="
                    col
                    d-flex
                    flex-column flex-lg-row
                    align-items-center
                    justify-content-around
                  "
                >
                  <form
                    [formGroup]="loginForm"
                    (ngSubmit)="enviarFormulario()"
                    class="text-center row"
                  >
                    <div class="col-12 mb-1">
                      <input
                        formControlName="correo"
                        type="email"
                        class="form-control"
                        [ngClass]="{
                          'ver-curriculum-input-error':
                            loginForm.invalid && loginForm.touched
                        }"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                      <div id="emailHelp" class="form-text">
                        Ingrese un correo electrónico de contacto.
                      </div>
                    </div>
                    <div class="col-12">
                      <button
                        *ngIf="!bloqueraBtn"
                        type="submit"
                        [disabled]="!loginForm.valid"
                        class="btn-ver-curriculum btn-box btn-neon"
                      >
                        {{ "{" + " ver curriculum " + "}" }}
                        <span id="span1"></span>
                        <span id="span2"></span>
                        <span id="span3"></span>
                        <span id="span4"></span>
                      </button>
                      <button
                        *ngIf="bloqueraBtn"
                        [disabled]="true"
                        class="btn-ver-curriculum btn-box btn-neon"
                      >
                        <i class="fas fa-spinner fa-pulse fa-2x"></i>
                        <span id="span1"></span>
                        <span id="span2"></span>
                        <span id="span3"></span>
                        <span id="span4"></span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center text-light">
            Por motivos de privacidad y resguardar datos personales es
            necesario identificarse para poder acceder.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
