<div class="row justify-content-center mb-5">
  <div class="col-12-auto text-center">
    <h3 class="acerca-de-mi-titulo txt-neon">Curriculum Vitae</h3>
    <!-- Button trigger modal -->
    <a
      type="button"
      class="btn-box btn-neon"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      <span id="span1"></span>
      <span id="span2"></span>
      <span id="span3"></span>
      <span id="span4"></span>
      {{ "{ " + "click para ver" + " }" }}
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="staticBackdropLabel">
              Acceder a Curriculum Vitae
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row justify-content-center">
                <div
                  class="col d-flex flex-column flex-lg-row align-items-center justify-content-around"
                >
                  <div *ngIf="isLoggedin === false">
                    <link
                      rel="stylesheet"
                      type="text/css"
                      href="//fonts.googleapis.com/css?family=Open+Sans"
                    />
                    <div
                      class="google-btn"
                      data-bs-dismiss="modal"
                      type="button"
                      (click)="loginWithGoogle()"
                    >
                      <div class="google-icon-wrapper">
                        <img
                          class="google-icon"
                          src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                        />
                      </div>
                      <p class="btn-text-login">Sign in with Google</p>
                    </div>
                  </div>
                  <div *ngIf="!isLoggedin">
                    <button
                      type="button"
                      (click)="loginWithFacebook()"
                      class="btn btn-block btn-facebook"
                      data-bs-dismiss="modal"
                    >
                      <i class="fab fa-facebook"></i> Sign in with Facebook
                    </button>
                  </div>
                  <div *ngIf="isLoggedin === true">
                    <button
                      type="button"
                      (click)="logOut()"
                      class="btn btn-primary"
                    >
                      Log Out
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            Por motivos de privacidad y resguardar mis datos personales, es
            obligatorio loguearse para poder acceder a mi currículum vitae.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
