<nav class="navbar navbar-expand-lg navbar-dark navbar-fondo-oscuro mt-3">
  <div
    class="
      container-fluid
      d-flex
      justify-content-end
      align-items-center align-items-lg-start
    "
  >
    <button
      id="btn-menu-movil"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-lg-flex justify-content-lg-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav text-start">
        <a
          class="nav-link m-2"
          routerLink="/home"
          routerLinkActive="active"
          (click)="cerrarMenuMovil()"
          ><i class="fas fa-home m-2"></i>Home</a
        >
        <a
          class="nav-link m-2"
          routerLink="/proyectos"
          routerLinkActive="active"
          (click)="cerrarMenuMovil()"
          ><i class="fas fa-briefcase m-2"></i>Proyectos</a
        >
        <a
          class="nav-link m-2"
          routerLink="/acerca-de-mi"
          routerLinkActive="active"
          (click)="cerrarMenuMovil()"
          ><i class="fas fa-user-tie m-2"></i>Acerca de mi</a
        >
        <a
          class="nav-link m-2"
          routerLink="/contacto"
          routerLinkActive="active"
          (click)="cerrarMenuMovil()"
          ><i class="fas fa-comments m-2"></i> Contacto</a
        >
      </div>
      <div
        class="
          navbar-nav navbar-redes-sociales
          d-flex
          flex-row
          justify-content-center
        "
      >
        <a class="nav-link m-3" href="https://twitter.com/matias25pinto" target="_blanck"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          class="nav-link m-3"
          href="https://www.linkedin.com/in/matias-pinto-v%C3%A1zquez-1906861a2/"
          target="_black"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
          class="nav-link m-3"
          href="https://github.com/Matias25pinto"
          target="_black"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
  </div>
</nav>
