<form class="row ">
    <div class="row justify-content-start align-items-end mb-3">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <img [src]="imgPrueba" class="img-thumbnail thumbnail200 float-start" alt="...">
        </div>
        <div class="col-12 col-md-8">
            <label for="imgUsuario" class="form-label txt-neon">Seleccione una imagen</label>
            <input class="form-control" type="file" id="imgUsuario" accept="image/x-png,image/jpeg">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <label for="nombresInput" class="form-label txt-neon">Nombres</label>
            <input type="text" class="form-control" id="nombresInput" placeholder="Nombres">
        </div>
    
        <div class="col-12 col-md-4">
            <label for="apellidosInput" class="form-label txt-neon">Apellidos</label>
            <input type="text" class="form-control" id="apellidosInput" placeholder="Apellidos">
        </div>
    
        <div class="col-12 col-md-7">
            <label for="emailInput" class="form-label txt-neon">Email</label>
            <input type="email" class="form-control" id="emailInput" placeholder="ejemplo@dominio.com">
        </div>

        <div class="col-12 col-md-7">
            <label for="telefonoInput" class="form-label txt-neon">Telefono</label>
            <input type="text" class="form-control" id="telefonoInput" placeholder="Telefono">
        </div>
    </div>
</form>