<div class="container animated fast">
  <div
    class="row flex-column flex-md-row m-3 m-lg-5 justify-content-around animated fadeIn"
  >
    <div
      class="col m-2 text-center d-flex flex-column justify-content-center align-items-center"
    >
      <div class="">
        <p class="home-txt">Hola me llamo</p>
        <h1 class="home-titulo txt-neon m-2">Matias Melanio Pinto Vázquez</h1>
      </div>
      <div class="">
        <h2 class="home-txt">Desarrollador web</h2>
      </div>
    </div>
    <div class="col-auto text-center m-2 animated fadeIn">
      <img class="home-img" [src]="'./assets/img/foto.jpg'" alt="foto" />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto text-center">
      <p class="home-txt">
        “Estoy convencido de que la mitad de lo que separa a los emprendedores
        exitosos de los que no triunfan es la perseverancia”
      </p>
      <cite class="home-txt">STEVE JOBS (1955 - 2011)</cite>
    </div>
  </div>
</div>
