<div class="container animated fast">
  <div
    class="row flex-column flex-md-row m-3 m-lg-5 justify-content-around animated fadeIn box-neon"
  >
    <div
      class="col m-2 d-flex flex-column justify-content-center align-items-center align-items-lg-start"
    >
      <div class="">
        <p class="home-txt">Hola me llamo,</p>
      </div>
      <div class="">
        <h1 class="home-titulo txt-neon text-center">Matias Melanio Pinto Vázquez</h1>
      </div>
      <div class="">
        <h2 class="home-titulo">Desarrollador Web</h2>
      </div>
      <div class="">
        <p class="home-txt">¿Tienes un trabajo para mi?</p>
      </div>
    </div>
    <div class="col-auto text-center m-2 animated fadeIn">
      <img class="home-img" [src]="'./assets/img/foto.jpg'" alt="foto" />
    </div>

    <span id="span1-box"></span>
    <span id="span2-box"></span>
    <span id="span3-box"></span>
    <span id="span4-box"></span>
  </div>
  <div class="row justify-content-center"></div>
</div>
