<div class="row justify-content-center animated fast">
  <div
    *ngFor="let proyecto of proyectos"
    class="col-auto text-center animated fadeIn"
  >
    <div class="proyecto">
      <h3 class="proyecto-titulo">{{ proyecto.titulo }}</h3>
      <p class="proyecto-detalles">
        {{ proyecto.desc }}
      </p>
      <ul class="proyecto-lista-iconos">
        <li *ngFor="let skill of proyecto.tecnologias" class="proyecto-icono">
          <img
            class="proyecto-svg"
            [src]="'./assets/img/iconos/' + skill.img"
            alt=""
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ skill.titulo }}"
          />
        </li>
      </ul>
      <div class="m-1">
        <a
          class="btn-box btn-neon btn-proyecto"
          href="{{ proyecto.github }}"
          target="_blank"
        >
          <span id="span1"></span>
          <span id="span2"></span>
          <span id="span3"></span>
          <span id="span4"></span>
          <i class="fas fa-code"></i> Code
        </a>
        <a class="btn-box btn-neon btn-proyecto" href="#">
          <span id="span1"></span>
          <span id="span2"></span>
          <span id="span3"></span>
          <span id="span4"></span>
          <i class="fas fa-window-maximize"></i> Preview
        </a>
      </div>
    </div>
  </div>
</div>
