<div class="row formulario-fondo-claro">
  <form *ngIf="verForm" 
    class="row mb-3">
    <div class="row justify-content-start align-items-end ">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
        <img src="./assets/img/iconos/angular.svg"
          class="img-thumbnail thumbnail200 float-start"
        />
      </div>
      <div class="col-12 col-md-8">
        <label for="imgUsuario" class="form-label txt-neon">
          Seleccione una imagen
        </label>
        <input
          class="form-control"
          type="file"
          id="imgUsuario"
          accept="image/x-png,image/jpeg"
        />
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 col-md-4">
        <label for="tituloInput" class="form-label txt-neon">Titulo</label>
        <input
          type="text"
          class="form-control"
          id="tituloInput"
          placeholder="Titulo para la skill"
        />
      </div>
    </div>

    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-primary" type="button">Nuevo</button>
      <button (click)="cancelar()" 
        type="button" class="btn btn-danger">Cancelar</button>
    </div>

  </form>
  <div *ngIf="!verForm" 
    class="row">
    <div class="col">
      <div class="row mb-2">
        <h5 for="lista-skills" class="form-label txt-neon text-center">Skills Encontradas</h5>
      </div>
      <div class="d-grid col-12 col-sm-6 mx-auto mb-2">
        <button (click)="mostrarForm()" 
        type="button" class="btn btn-outline-primary" >Nueva Skill</button>
      </div>
      <ul class="list-group" id="lista-skills">
        <button type="button" *ngFor="let skill of skills" class="list-group-item list-group-item-action">
          <img [src]="'./assets/img/iconos/' + skill.img"  class="icon32" alt="icon-skills">
          {{skill.titulo}}
        </button>
      </ul>
    </div>
  </div>
</div>


