<form class="row formulario-fondo-claro">
    <div class="row justify-content-start align-items-end mb-3">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
        <img
          [src]=""
          class="img-thumbnail thumbnail200 float-start"
          alt="..."
        />
      </div>
      <div class="col-12 col-md-8">
        <label for="imgUsuario" class="form-label txt-neon"
          >Seleccione una imagen</label
        >
        <input
          class="form-control"
          type="file"
          id="imgUsuario"
          accept="image/x-png,image/jpeg"
        />
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 col-md-4">
        <label for="tituloInput" class="form-label txt-neon">Titulo</label>
        <input
          type="text"
          class="form-control"
          id="tituloInput"
          placeholder="Titulo para la skill"
        />
      </div>
    </div>
  </form>
  