<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<div class="curriculum">
  <header class="header">
    <nav class="nav">
      <ul class="nav__ul">
        <li class="nav__li">
          <a
            class="nav__a"
            href="mailto:matias25pinto@gmail.com"
            target="_blank"
            ><i class="fas fa-at"></i>matias25pinto@gmail.com</a
          >
        </li>
        <li class="nav__li">
          <a class="nav__a" href="tel:+595972905930" target="_blank"
            ><i class="fas fa-mobile-alt"></i>0972905930</a
          >
        </li>
        <li class="nav__li">
          <a
            class="nav__a"
            href="https://wa.me/595972905930?text=Hola%20Matias%20"
            target="_blank"
            ><i class="fab fa-whatsapp"></i>0972905930</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <aside id="aside" class="aside">
      <div id="imagen__oscura" class="imagen__oscura"></div>
      <div id="imagen" class="imagen">
        <img class="img" [src]="'./assets/img/foto.jpg'" alt="" />
      </div>
      <div class="aside__informacion">
        <hr class="aside__hr" />
        <p class="aside__titulo">EDUCACIÓN</p>
        <p class="aside__texto">
          Licenciatura en Ciencias Informáticas
          <span class="aside__span"
            >En la Universidad Nacional de Asunción, en curso</span
          >
        </p>
        <p class="aside__texto">
          Curso Angular de Cero a Experto
          <span class="aside__span"> Udemy 2020</span>
        </p>
        <p class="aside__texto">
          Curso PROGRAMACIÓN EN JAVA Y APLICACIONES WEB
          <span class="aside__span">FP-UNA 2016</span>
        </p>
        <p class="aside__texto">
          Bachillerato en Informática
          <span class="aside__span">Esc. Nacional Comercio Yaguarón 2011</span>
        </p>
        <p class="aside__texto">
          Técnico en PC
          <span class="aside__span"
            >Esc. Técnica General Bruguez, (Artilleria de paraguari) 2008</span
          >
        </p>
        <p class="aside__texto">
          Operador Avanzado <span class="aside__span">2008</span>
        </p>
        <p class="aside__texto">
          Operador de Computadoras <span class="aside__span">2003</span>
        </p>
        <hr class="aside__hr" />
        <p class="aside__titulo">HABILIDADES</p>
        <p class="aside__texto">Programador Front-End</p>
        <p class="aside__texto">Programador Back-End</p>
        <p class="aside__texto">Ingles Técnico</p>
        <hr class="aside__hr" />
        <p class="aside__titulo">SKILLSET</p>
        <p class="aside__texto"><i class="fab fa-html5"></i>Html5</p>
        <p class="aside__texto"><i class="fab fa-css3-alt"></i>Css3</p>
        <p class="aside__texto"><i class="fab fa-js-square"></i>Javascript</p>
        <p class="aside__texto">
          JQuery <span class="aside__span">más de un años sin usar</span>
        </p>
        <p class="aside__texto">
          <i class="fab fa-angular"></i> Angular
          <span class="aside__span">versión 2+</span>
        </p>
        <p class="aside__texto">TypeScript</p>
        <p class="aside__texto"><i class="fab fa-bootstrap"></i>Bootstrap</p>
        <p class="aside__texto"><i class="fab fa-sass"></i> Sass</p>
        <p class="aside__texto">
          <i class="fab fa-git-alt"></i>Git
          <span class="aside__span">GitHub</span>
        </p>
        <p class="aside__texto">
          <i class="fab fa-node-js"></i> NodeJs & Express
        </p>
        <p class="aside__texto"><i class="fab fa-npm"></i>npm & yarn</p>
        <p class="aside__texto">FireBase</p>
        <p class="aside__texto">Heroku</p>
        <p class="aside__texto">
          <i class="fab fa-php"></i>
          php
          <span class="aside__span">versión 7, más de un año sin usar</span>
        </p>
        <p class="aside__texto">
          <i class="fab fa-laravel"></i>
          Laravel
          <span class="aside__span">versión 5, más de un año sin usar</span>
        </p>
        <p class="aside__texto">MongoDB & Mongoose</p>
        <p class="aside__texto">
          MySql <span class="aside__span">Base de Datos</span>
        </p>
        <p class="aside__texto">
          PostgreSQL <span class="aside__span">Base de Datos</span>
        </p>
        <p class="aside__texto">
          ORACLE <span class="aside__span">Base de Datos, uso académico</span>
        </p>
        <p class="aside__texto">
          C <span class="aside__span">uso académico</span>
        </p>

        <p class="aside__texto">
          <i class="fab fa-java"></i>
          Java <span class="aside__span">uso académico</span>
        </p>
        <p class="aside__texto">
          <i class="fab fa-python"></i>
          Python <span class="aside__span">uso académico</span>
        </p>

        <p class="aside__texto">
          <i class="fab fa-linux"></i>
          Linux <span class="aside__span">Rama de Debian</span>
        </p>
        <p class="aside__texto">
          <i class="fab fa-neos"></i>
          NeoVim <span class="aside__span">Editor de código</span>
        </p>
        <p class="aside__texto">
          Visual Studio Code <span class="aside__span">Editor de código</span>
        </p>
        <p class="aside__texto">
          Vim <span class="aside__span">Editor de código</span>
        </p>
        <p class="aside__texto">
          SublimeText <span class="aside__span">Editor de código</span>
        </p>
      </div>
    </aside>
    <section id="section" class="section">
      <h1 class="titulo">Matias Melanio Pinto Vázquez</h1>
      <hr class="hr" />
      <article>
        <p class="article__titulo">DESCRIPCIÓN PERSONAL</p>
        <p class="article__texto">
          Estudiante de licenciatura en ciencias informáticas énfasis en
          análisis de sistemas(7 semestre) y énfasis en programación de
          computadoras(6to semestre), programador web con conocimientos del
          front-end y el back-end, en busca de aprender más, mi principal
          habilidad es ser autodidacta, la mayoría de las tecnologías que manejo
          lo aprendí de forma autodidacta, inicie en el mundo web en el 2017 con
          html5, css3, javascript y desde entonces he aprendido muchas
          tecnologías algunas que deje de usar como jquery, php y otras en las
          cuales he profundizado como javascript. Mi meta es ser un Full Stack
          Javascript, actualmente desde abril del 2020 me enfoco en el MEAN
          Stack utilizando MongoDB, Express, Angular y NodeJs.
        </p>
      </article>
      <article class="article">
        <p class="article__titulo">EXPERIENCIA</p>
        <p class="article__year">2012 - 2013</p>
        <p class="article__texto">
          Auxiliar técnico de laboratorio de informática en la Escuela Nacional
          de Comercio de Yaguarón. Técnico de computadoras personales y
          notebooks.
        </p>
        <p class="article__year">2014</p>
        <p class="article__texto">
          Soporte técnico de computadoras personales y notebooks, de forma
          particular.
        </p>
        <p class="article__year">2015 - 2017</p>
        <p class="article__texto">
          Preste servicios en el Ministerio de Educación y Ciencias en la
          dirección de Evaluación de la Calidad Educativa, en el marco del
          programa “Evaluación Censal de Logros Académicos a Estudiantes de
          Finales de Ciclo/nivel y Factores Asociables al Aprendizaje” fui
          aplicador de la pruebas censales de SNEPE 2015, inicie como
          digitalizador OMR en 2015 en el departamento de evaluación censal del
          MEC, para el proyecto SNEPE, gracias a mi habilidad de ser autodidacta
          aprendí a configurar scanners OMR, y crear exámenes para este formato
          con el software Remark, del 2016 al 2017 fui supervisor de
          digitalización y procesamiento de datos de la evaluación censal SNEPE
          2015.
        </p>
        <p class="article__year">2018 - 2019</p>
        <p class="article__texto">
          En 2018 iniciamos con un amigo una colaboración para hacer paginas web
          estaticas y dinamicas, nuestro mayor trabajo fue para un diario
          digital, con streaming de radio local Yaguarón Noticias, actualmente
          ninguna de esas páginas sigue funcionando porque nuestros clientes
          eran negocios pequeños y a ver que una página no aumentaban sus ventas
          no pagaban el dominio por más de un año.
        </p>
        <p class="article__texto">
          En el 2019 de forma autodidacta cree un sistema de facturación en php
          utilizando laravel 5 y varias páginas web dinámicas con laravel, pero
          solo el sistema M&R Software sigue funcionando, el sistema estaba
          hecho a la medida de acuerdo a lo que los clientes pedían. El sistema
          M&R Software fue utilizado por 4 empresas una boutique, una tienda de
          venta de ropa por kilo, una peluquería y una distribuidora,
          actualmente solo sigue funcionando la distribuidora y lleva usando el
          sistema desde el 2019 hasta la actualidad. Desde el 2018 hasta la
          actualidad estoy trabajando de forma independiente, consiguiendo
          pequeños clientes gracias a un amigo que también es desarrollador de
          sistemas de facturación, he hecho implementaciones para el sistema de
          facturación de soluciones informáticas, capacitando el personal y
          ayudando a cargar el inventario, a 4 locales de ventas en san lorenzo
          comercial Mariza, comercial Santa Elena, comercial RopaXkilo y
          comercial Fane.
        </p>
        <p class="article__year">2020 - 2021</p>
        <p class="article__texto">
          Actualmente estoy dando asesoramiento al comercial seda cosmética, que
          tiene 9 sucursales con un sistema antiguo que trabaja en servidores
          locales y no le permite hacer arqueos de caja, mi trabajo es
          desarrollarles una api en Node, y un front-end en angular como
          interfaz de usuario, que se conecta a la Base de datos de su sistema
          local y permitir realizar los arqueos por medio del sistema web que
          desarrolle para ellos, actualmente ese sistema web se encarga del
          control de arqueo de las cajas de todas las sucursales y de generar
          los informes de la empresa, como también el sistema genera catálogos
          pdf de la base de datos del sistema antiguo que maneja la empresa,
          para julio del 2021 pienso lanzar el sistema de Ecommerce de seda
          cosmética de esta forma terminando el ciclo de trabajo con ellos.
        </p>
        <p class="article__texto">
          También a la par estoy desarrollando el sistema de inscripciones para
          el campeonato de MXVXParaguay.
        </p>
      </article>
    </section>
  </main>
</div>
<div class="row m-3 justify-content-center">
  <div class="col-auto text-center">
    <a
      type="button"
      class="btn-box btn-neon"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      <span id="span1"></span>
      <span id="span2"></span>
      <span id="span3"></span>
      <span id="span4"></span>
      {{ "{ " + "Descargar PDF" + " }" }}
    </a>
  </div>
</div>
<script [src]="'./assets/js/mainCurriculum.js'"></script>
