<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<div id="curriculum" class="curriculum">
  <header id="header" class="header">
    <nav class="nav">
      <ul id="nav__ul" class="nav__ul">
        <li class="nav__li">
          <a
            class="nav__a"
            href="mailto:matias25pinto@gmail.com"
            target="_blank"
            ><i class="fas fa-at"></i>matias25pinto@gmail.com</a
          >
        </li>
        <li class="nav__li">
          <a class="nav__a" href="tel:+595972905930" target="_blank"
            ><i class="fas fa-mobile-alt"></i>0972905930</a
          >
        </li>
        <li class="nav__li">
          <a
            class="nav__a"
            href="https://wa.me/595972905930?text=Hola%20Matias%20"
            target="_blank"
            ><i class="fab fa-whatsapp"></i>0972905930</a
          >
        </li>
        <li class="nav__li">
          <a class="nav__a" href="https://www.matias-pinto.com"
            ><i class="fas fa-globe-americas"></i>www.matias-pinto.com</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <main id="main" class="main">
    <aside id="aside" class="aside">
      <div id="imagen__oscura" class="imagen__oscura"></div>
      <div id="imagen" class="imagen">
        <img class="img" [src]="'./assets/img/foto.jpg'" alt="" />
      </div>
      <div class="aside__informacion">
        <hr class="aside__hr" />
        <p class="aside__titulo">EDUCACIÓN</p>
        <p class="aside__texto">
          Licenciatura en Ciencias Informáticas Énfasis en Análisis de Sistemas
          Informáticos
          <span class="aside__span"
            >Universidad Nacional de Asunción - carrera culminada</span
          >
        </p>
        <p class="aside__texto">
          Licenciatura en Ciencias Informáticas Énfasis en Programador de
          Computadoras
          <span class="aside__span"
            >Universidad Nacional de Asunción - carrera en curso</span
          >
        </p>
        <p class="aside__texto">
          Curso de programación en java y aplicaciones web
          <span class="aside__span">FP-UNA - 2016</span>
        </p>
        <p class="aside__texto">
          Bachillerato en Informática
          <span class="aside__span"
            >Esc. Nacional Comercio Yaguarón - 2011</span
          >
        </p>
        <p class="aside__texto">
          Técnico en PC
          <span class="aside__span">Esc. Técnica General Bruguez - 2008</span>
        </p>
        <hr class="aside__hr" />
        <p class="aside__titulo">DATOS PERSONALES</p>
        <p class="aside__texto">
          Fecha de Nacimiento:
          <span class="aside__span">25 de febrero de 1993</span>
        </p>
        <p class="aside__texto">
          Nacionalidad: <span class="aside__span">Paraguaya</span>
        </p>
        <p class="aside__texto">
          Estado Civil: <span class="aside__span">Soltero</span>
        </p>
        <p class="aside__texto">
          Dirección:
          <span class="aside__span"
            >Fernando de la Mora Zona Norte, calle Rio Ypane y Rca. de
            Colombia</span
          >
        </p>
        <hr class="aside__hr" />
        <p class="aside__titulo">SKILLS</p>

        <div class="row flex-row justify-content-start" id="skills">
          <div class="col-6 m-auto">
            <p
              *ngFor="let skill of skills.slice(0,12); let i1 = index"
              class="aside__texto"
            >
              <img
                class="aside__svg"
                [src]="'./assets/img/iconos/'+skill.img"
                alt="{{ skill.titulo }}"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="{{ skill.titulo }}"
              />{{skill.titulo}}
            </p>
          </div>
          <div class="col-6">
            <p
              *ngFor="let skill of skills.slice(12,24); let i2 = index"
              class="aside__texto"
            >
              <img
                class="aside__svg"
                [src]="'./assets/img/iconos/'+skill.img"
                alt="{{ skill.titulo }}"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="{{ skill.titulo }}"
              />{{skill.titulo}}
            </p>
          </div>
        </div>
        <div id="imagen" class="imagen">
          <img
            class="img"
            [src]="'./assets/img/qr-code.png'"
            alt="qr-code"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ 'Código QR' }}"
          />
        </div>
      </div>
    </aside>
    <section id="section" class="section">
      <p class="titulo">Matias Melanio Pinto Vázquez</p>
      <hr class="hr" />
      <article>
        <p class="article__titulo">DESCRIPCIÓN PERSONAL</p>
        <p class="article__texto">
          Estudiante de licenciatura en ciencias informáticas énfasis en
          análisis de sistemas(carrera culminada) y énfasis en programación de
          computadoras(carrera en curso). Programador web con conocimientos del
          front-end y el back-end, con ganas de aprender más, mi principal
          habilidad es ser autodidacta, la mayoría de las tecnologías que manejo
          las aprendí de forma autodidacta. Empecé en el mundo del desarrollo
          web en el 2017 con html5, css3, javascript y desde entonces no he
          dejado de aprender.
        </p>
      </article>
      <article class="article">
        <p class="article__titulo">EXPERIENCIA</p>
        <p class="article__year">2011 - 2012 - 2013</p>
        <p class="article__texto">
          Pasantía del bachillerato técnico en informática en Salemma Super
          Center. Auxiliar técnico de laboratorio de informática en la Escuela
          Nacional de Comercio de Yaguarón. Técnico de computadoras personales y
          notebooks.
        </p>
        <p class="article__year">2014</p>
        <p class="article__texto">
          Soporte técnico de computadoras personales y notebooks, de forma
          particular.
        </p>
        <p class="article__year">2015 - 2017</p>
        <p class="article__texto">
          Preste servicios en el Ministerio de Educación y Ciencias en la
          dirección de Evaluación de la Calidad Educativa, en el marco del
          programa “Evaluación Censal de Logros Académicos a Estudiantes de
          Finales de Ciclo/nivel y Factores Asociables al Aprendizaje” fui
          aplicador de la pruebas censales de SNEPE 2015, inicie como
          digitalizador OMR en 2015 en el departamento de evaluación censal del
          MEC, para el proyecto SNEPE, gracias a mi habilidad de ser autodidacta
          aprendí a configurar scanners OMR, y crear exámenes para este formato
          con el software Remark, del 2016 al 2017 fui supervisor de
          digitalización y procesamiento de datos de la evaluación censal SNEPE
          2015.
        </p>
        <p class="article__year">2018 - 2019</p>
        <p class="article__texto">
          En 2018 iniciamos con un amigo una colaboración para hacer páginas web
          estáticas y dinámicas, nuestro mayor trabajo fue para un diario
          digital en php, con streaming de radio local Yaguarón Noticias.
        </p>
        <p class="article__texto">
          En el 2019 inicie el desarrollo de un sistema de facturación en php
          utilizando laravel 5 y varias páginas web dinámicas con laravel. El
          sistema M&R Software fue utilizado por 4 empresas una boutique, una
          tienda de venta de ropa por kilo, una peluquería y una distribuidora,
          actualmente solo sigue funcionando la peluquería y la distribuidora
          que llevan usando el sistema desde el año 2019 hasta la actualidad.
          Desde el 2018 hasta la actualidad estoy trabajando de forma
          independiente, consiguiendo pequeños clientes, he hecho
          implementaciones para el sistema de facturación de soluciones
          informáticas, capacitando al personal y ayudando a cargar el
          inventario en 3 locales de ventas en San Lorenzo, comercial Santa Elena,
          comercial RopaXkilo y comercial Fane.
        </p>
        <p class="article__year">2020 - 2021</p>
        <p class="article__texto">
          Actualmente estoy dando asesoramiento al comercial seda cosmética, que
          tiene 9 sucursales con un sistema antiguo que trabaja en servidores
          locales, y un servidor de base de datos central. El sistema actual de
          la empresa no les permite hacer arqueos de caja, mi trabajo es
          desarrollar una api en Node&Express, y un front-end en Angular como
          interfaz de usuario, que se conecta a la Base de datos central de la
          empresa y permitir realizar los arqueos por medio del sistema web que
          desarrolle para ellos, actualmente ese sistema web se encarga del
          control de arqueo de las cajas de todas las sucursales y de generar
          los informes de la empresa.
        </p>
        <p class="article__year">Referencias Laborales</p>
        <p class="article__texto">
          Francisco Meza(ex-compañero de trabajo en el MEC) - 0981 282960
        </p>
        <p class="article__texto">
          Richard Sanchez(compañero de trabajo en MRsoftware y Seda Cosmética) -
          0986 941959
        </p>
      </article>
    </section>
  </main>
</div>
<div *ngIf="!isDownloadPDF" class="row m-3 justify-content-center">
  <div class="col-auto text-center">
    <a type="button" class="btn-box btn-neon" (click)="downloadPDF()">
      <span id="span1"></span>
      <span id="span2"></span>
      <span id="span3"></span>
      <span id="span4"></span>
      {{ "{ " + "Descargar en PDF" + " }" }}
    </a>
  </div>
</div>
<div *ngIf="isDownloadPDF" class="row m-3 justify-content-center">
  <div class="col-auto text-center">
    <a type="button" class="btn-box btn-neon">
      <i class="fas fa-spinner fa-pulse fa-5x"></i>
    </a>
  </div>
  <div class="text-center text-light">
    Generar el PDF puede tardar más de 1 minuto.
  </div>
</div>
