/*=========================
 *PALETA DE COLORES
 *========================*/

:root {
}
/*=========================
 *CONFIGURACIÓN GENERAL
 *========================*/
.curriculum {
  --color-aside-inferior: #0c9cb7;
  --color-aside-superior: #404040;
  --color-fondo-main: #ffffff;
  --color-titulo: #3595a5;
  --color-texto-main: #333333;
  --color-fondo-negro: #000000;
  font-family: "Roboto Condensed", sans-serif;
  max-width: 100%;
  min-height: 100%;
}
.fab,
.fas {
  margin: 5px;
}
.titulo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-titulo);
  margin: 20px auto;
}
.hr {
  color: var(--color-aside-inferior);
}
/*=========================
 *HEADER
 *========================*/

.header {
  background: var(--color-aside-inferior);
  padding:2px;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 50px;
}
/*=========================
 *NAV
 *========================*/

.nav {
  width: 100%;
  padding: 10px;
  margin: auto;
}
.nav__ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  text-align: center;
}
.nav__li {
  list-style: none;
  margin: auto 20px;
}
.nav__a {
  text-decoration: none;
  color: var(--color-fondo-main);
  font-size: 1.5rem;
  font-weight: 400;
}
/*=========================
 *MAIN
 *========================*/

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: var(--color-fondo-main);
}
/*=========================
 *ASIDE
 *========================*/

.aside {
  display: flex;
  flex-direction: column;
  word-wrap: wrap;
  justify-content: flex-center;
  align-items: center;
  width: 30%;
  min-height: 100vh;
  background: var(--color-aside-inferior);
}
.aside__informacion {
  width: 90%;
  color: var(--color-fondo-main);
  margin: 10px auto;
}
.aside__span {
  font-size: 0.8rem;
  font-weight: 300;
}
.aside__hr {
  width: 100%;
  color: var(--color-fondo-main);
  margin: 10px auto;
}
.aside__titulo {
  font-size: 2rem;
  font-weight: 400;
}
.aside__texto {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
.aside__svg {
  max-width: 30px;
  margin: 0 5px;
  border: 1px solid var(--color-titulo);
  border-radius: 10px;
}
.imagen {
  position: relative;
  max-width: 70%;
  margin: 5px auto;
}
.img {
  max-width: 100%;
  margin: 5px auto;
  border: 1px solid var(--color-titulo);
}
/*=========================
 *SECTION
 *========================*/

.section {
  width: 70%;
  background: var(--color-fondo-main);
  padding: 20px;
}
/*=========================
 *ARTICLE
 *========================*/

.article {
  margin-top: 10px;
}
.article__titulo {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.article__year {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 10px;
  color: var(--color-titulo);
}

.article__texto {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}
/*=========================
 *FOOTER
 *========================*/

.footer {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 30px;
  background: var(--color-fondo-negro);
  color: var(--color-fondo-main);
}
.footer__p {
  margin: auto;
  padding: 5px;
}
/*=========================
 *RESPONSIVE
 *========================*/
@media screen and (max-width: 815px) {
  /*=========================
 *CONFIGURACIÓN GENERAL
 *========================*/

  * {
    font-size: 14px;
  }
  .titulo {
    font-size: 2rem;
  }

  /*=========================
 *HEADER
 *========================*/

  .header {
    height: 30px;
  }
  /*=========================
 *NAV
 *========================*/

  .nav {
    padding: 5px;
  }
  .nav__ul {
    flex-wrap: nowrap;
  }
  .nav__li {
    margin: auto 10px;
  }
  .nav__a {
    font-size: 1rem;
  }

  /*=========================
 *ASIDE
 *========================*/

  .aside {
    width: 40%;
    min-height: 100vh;
  }
  .aside__span {
    font-size: 0.7rem;
  }
  .aside__titulo {
    font-size: 1rem;
  }
  .aside__texto {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  /*=========================
 *SECTION
 *========================*/

  .section {
    width: 60%;
    padding-bottom: 0;
  }

  /*=========================
 *ARTICLE
 *========================*/

  .article__titulo {
    font-size: 1.5rem;
  }
  .article__year {
    font-size: 1rem;
    margin-top: 5px;
  }

  .article__texto {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  /*=========================
 *CONFIGURACIÓN GENERAL
 *========================*/

  * {
    font-size: 11px;
  }

  .titulo {
    font-size: 1.5rem;
    margin: 5px auto;
    text-align: center;
  }
  /*=========================
 *HEADER
 *========================*/

  /*=========================
 *NAV
 *========================*/
  .nav {
    padding: 0;
  }
  .nav__ul {
    padding: 0;
  }
  .nav__li {
    margin: auto;
  }
  .nav__a {
    font-size: 0.5rem;
  }
  /*=========================
 *MAIN
 *========================*/

  .main {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  /*=========================
 *ASIDE
 *========================*/

  .aside {
    display: flex;
    flex-direction: column;
    word-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--color-aside-inferior);
  }
  .aside__informacion {
    width: 95%;
    margin: 5px auto;
  }
  .aside__span {
    font-size: 0.7rem;
    font-weight: 300;
  }
  .aside__hr {
    width: 100%;
    color: var(--color-fondo-main);
    margin: 5px auto;
  }
  .aside__titulo {
    font-size: 1rem;
    font-weight: 400;
  }
  .aside__texto {
    font-size: 1rem;
    line-height: 1rem;
  }
  .imagen {
    position: relative;
    max-width: 70%;
    margin: 5px auto;
    z-index: 3;
  }
  .img {
    max-width: 100%;
    margin: 5px auto;
    border: 1px solid var(--color-titulo);
  }
  /*=========================
 *SECTION
 *========================*/

  .section {
    width: 100%;
    padding: 10px;
  }
  /*=========================
 *ARTICLE
 *========================*/

  .article {
    margin-top: 5px;
  }
  .article__titulo {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .article__year {
    font-size: 1rem;
    margin-top: 1px;
  }
  .article__texto {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
@media screen and (max-width: 350px) {
  /*=========================
 *HEADER
 *========================*/

  .header {
    height: 60px;
  }
  /*=========================
 *NAV
 *========================*/

  .nav {
    padding: 2px;
  }
  .nav__ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .nav__li {
    margin: auto 2px;
  }
  .nav__a {
    font-size: 0.7rem;
  }
}
