/* You can add global styles to this file, and also import other style files */
/*===========================
***********GENERAL***********
============================*/

* {
  --color-fondo: #0e0f11;
  --color-neon: #0a8cbf;
  --color-texto-claro: #fff;
  --color-gris-claro: #d3d3d3;
  --color-success: #22bb33;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-fondo);
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  line-height: 24px;
}

/* ====================================
 *PARA MANTENER EL FOOTER SIEMPRE AL PIE
 *=====================================*/
html,
body {
  height: 100%;
}

.wrapper {
  margin: 0px auto;
  min-height: calc(100% - 4rem);
  min-width: 100%;
}

/* ====================================
 *ESTILOS DE TEXTO CON EFECTOS DE NEON
 *=====================================*/

.txt-neon {
  color: var(--color-texto-claro);
  text-shadow: 0 0 2.5px var(--color-neon), 0 0 10px var(--color-neon),
    0 0 20px var(--color-neon);
}

/* ====================================
 *ESTILOS DEL BOTON CON EFECTOS DE NEON
 *=====================================*/
.btn-neon {
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  color: var(--color-texto-claro);
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}
.btn-neon:hover {
  background: var(--color-neon);
  box-shadow: 0 0 10px var(--color-neon), 0 0 40px var(--color-neon),
    0 0 80px var(--color-neon);
  transition-delay: 1s;
  color: var(--color-texto-claro);
}
/* ==========================================
 *ESTILOS DEL EFECTO DE LINEAS EN MOVIMIENTO
 *===========================================*/
/*======================================
 *CONFIGURACIONES GENERALES DE LA LINEAS
 *======================================*/
.btn-neon span {
  position: absolute;
  display: block;
}
/*==============
 *LINEA SUPERIOR
 *==============*/
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--color-neon));
}
.btn-neon:hover #span1 {
  left: 100%;
  transition: 1s;
}
/*==============
 *LINEA INFERIOR
 *==============*/
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--color-neon));
}
.btn-neon:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
/*===================
 *LINEA DE LA DERECHA
 *===================*/
#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--color-neon));
}
.btn-neon:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
/*=====================
 *LINEA DE LA IZQUIERDA
 *=====================*/

#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--color-neon));
}
.btn-neon:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/* ====================================
 *ADMIN
 *=====================================*/

/* ====================================
 *FORMULARIO FONDO CLARO
 *=====================================*/
.formulario-fondo-claro {
  background: var(--color-gris-claro);
  height: 100%;
}
/* ====================================
 *TOP NAVBAR
 *=====================================*/
.centrar-nav-top {
  margin: 0px auto;
  width: 100%;
  max-width: 100%;
}
.top-nav-container {
  width: 100%;
  max-width: 100%;
  height: 20px;
  margin: 5px auto;
}
.top-nav-ul {
  margin: 0px auto;
}
.top-nav-li {
  display: inline-block;
  color: var(--color-neon);
  list-style: none;
}
.top-nav-icono {
  color: var(--color-neon);
  margin: 0 10px;
}
.top-nav-icono-message {
  color: var(--color-success);
  margin: 0 10px;
}
.top-nav-icono:hover,
.top-nav-icono-message:hover {
  color: var(--color-texto-claro);
}

/* ====================================
 *LEFT NAVBAR
 *=====================================*/
.left-navbar-container {
  height: 100%;
  background: #fff;
  margin: 10px auto;
}
.left-navbar-ul {
  margin: 10px auto;
  text-align: center;
}
.left-navbar-li {
  text-align: center;
  list-style: none;
  margin: 20px auto;
}
.left-navbar-link {
  text-decoration: none;
  color: var(--color-neon);
}
.left-navbar-link:hover {
  color: var(--color-texto-claro);
}

/* ====================================
 *PUBLIC
 *=====================================*/
/* ====================================
 ***************HOME********************
 *=====================================*/
.home-txt {
  color: var(--color-texto-claro);
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: 400;
}
.home-titulo,
.home-txt {
  display: inline-block;
  margin: 0 5px;
}
.btn-home {
  font-size: 3em;
}
.home-img {
  width: 250px;
  max-width: 100%;
  border: 1px solid var(--color-neon);
  border-radius: 5px;
}

/*===========================
************NAVBAR***********
============================*/
.navbar-fondo-oscuro {
  background: var(--color-fondo);
}

.navbar-logo {
  font-size: 2em;
  font-weight: 700;
}
.navbar-logo:hover {
  font-weight: 400;
  color: var(--color-texto-claro);
}

/*===========================
************FOOTER***********
============================*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*El alto debe ser igual a la resta de la clase wrapper para ubicar siempre al final al footer*/
  height: 4rem;
  padding: 10px;
  line-height: 20px;
}

.footer-logo {
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
}
.footer-logo:hover {
  color: var(--color-texto-claro);
  font-weight: 400;
}

/*===========================
************PROYECTO*********
============================*/
.proyecto {
  color: var(--color-texto-claro);
  border: 2px solid var(--color-neon);
  width: 300px;
  margin: 20px 10px;
  text-align: center;
}

.proyecto-titulo {
  background: var(--color-neon);
  padding: 5px;
  font-size: 1.5em;
  font-weight: 700;
}
.proyecto-detalle {
  padding: 3px;
  font-size: 1em;
  font-weight: 300;
}
.proyecto-lista-iconos {
  list-style: none;
  padding: 5px;
  margin: 5px auto;
}
.proyecto-icono {
  display: inline-block;
  margin: 5px;
}
.proyecto-svg {
  width: 40px;
}

.thumbnail200 {
  width: 200px;
  height: 200px;
}
.btn-proyecto {
  font-size: 0.7em;
}

/*===========================
*********ACERCA-DE-MI********
============================*/
.acerca-de-mi-titulo {
  font-size: 2em;
  font-weight: 700;
}
.acerca-de-mi-txt {
  font-size: 1em;
  color: var(--color-texto-claro);
  font-weight: 400;
}

.acerca-de-mi-svg {
  width: 100px;
  border-radius: 10px;
  margin: 10px;
}

/*===========================
***********RESPONSIVE********
============================*/
@media only screen and (max-width: 800px) {
  /* ====================================
 ***************NAVBAR********************
 *=====================================*/
  .navbar-logo {
    font-size: 1.5em;
    font-weight: 700;
  }

  /* ====================================
 ***************HOME********************
 *=====================================*/
  .home-txt {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 400;
  }
  .home-titulo {
    font-size: 1em;
  }
  .home-titulo,
  .home-txt {
    margin: 0 3px;
  }
  .btn-home {
    font-size: 2em;
  }
}
