/* You can add global styles to this file, and also import other style files */
/*===========================
***********GENERAL***********
============================*/

* {
  --color-fondo: #0e0f11;
  --color-neon: #0a8cbf;
  --color-texto-claro: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-fondo);
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  line-height: 24px;
}
/* ====================================
 *PARA MANTENER EL FOOTER SIEMPRE AL PIE
 *=====================================*/
html,
body {
  height: 100%;
}

.wrapper {
  min-height: calc(100% - 4rem);
}

/* ====================================
 *ESTILOS DE TEXTO CON EFECTOS DE NEON
 *=====================================*/

.txt-neon {
  color: var(--color-neon);
  text-shadow: 0 0 2.5px var(--color-neon), 0 0 10px var(--color-neon),
    0 0 20px var(--color-neon);
}

/* ====================================
 *ESTILOS DEL BOTON CON EFECTOS DE NEON
 *=====================================*/
.btn-neon {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  color: var(--color-texto-claro);
  letter-spacing: 4px;
  font-size: 1em;
  text-decoration: none;
  overflow: hidden;
  transition: 0.1s;
  border: 1px solid var(--color-fondo);
  border-radius: 10px;
  margin: 2px 10px;
}
.btn-neon:hover {
  background: var(--color-neon);
  box-shadow: 0 0 10px var(--color-neon), 0 0 40px var(--color-neon),
    0 0 80px var(--color-neon);
  transition-delay: 0.5s;
  color: var(--color-fondo);
  border-color: var(--color-neon);
}

/*===========================
************NAVBAR***********
============================*/
.navbar-fondo-oscuro {
  background: var(--color-fondo);
}

.navbar-logo {
  font-size: 2em;
  font-weight: 700;
}

.link-activo {
  color: var(--color-neon);
}

/*===========================
************FOOTER***********
============================*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*El alto debe ser igual a la resta de la clase wrapper para ubicar siempre al final al footer*/
  height: 4rem;
  padding: 10px;
  line-height: 20px;
}

.footer-logo {
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
}

/*===========================
************PROYECTO*********
============================*/
.proyecto {
  color: var(--color-texto-claro);
  border: 2px solid var(--color-neon);
  width: 300px;
  margin: 20px 10px;
  text-align: center;
}

.proyecto-titulo {
  background: var(--color-neon);
  padding: 5px;
  font-size: 1.5em;
  font-weight: 700;
}
.proyecto-detalle {
  padding: 3px;
  font-size: 1em;
  font-weight: 300;
}
.proyecto-lista-iconos {
  list-style: none;
  padding: 5px;
  margin: 5px auto;
}
.proyecto-icono {
  display: inline-block;
  margin: 5px;
}
.proyecto-svg {
  width: 40px;
}

.thumbnail200{
  width: 200px;
  height: 200px;
}